doctype html
html
    head
        style
            include styles/global.css
    body
        div.header
            block content
        div.footer
            | Best wishes, Cymbals Shop!
            a(href=frontendUrl) Cymbals Shop
