extends template
block content
    div
        | You asked for changing your password.
        br
        | To confirm your account click the button below
        div
            a(href=frontendUrl + `password/reset/` + token) Change your password
